{% extends "base.html" %}

{% block head %} {{ super() }}<title>{% block title %}Account{% endblock %}</title>{% endblock %}

{% block content %}
<body>
    {% block navbar %} {{ super() }} {% endblock %}

    <main role="main">
	<br>
	<h1 class="centerstuff"> My Account</h1><br>

    <div class="row">
        <!-- first column of html page -->
        <div class="column1">

            <h2>My Profile Information</h2>

            <div>
                <img src="{{ img }}" alt="User Image"> 
            <h6>Profile Pic...</h6>
            <form  enctype="multipart/form-data" action="/upload" method="POST">

                <input type="file" name="pic"/>
                <input type="submit" value="Upload file"/>

            </form>
            {% for cu in currentuser %}

            <h6>Profile Pic...</h6>
            <h6>Username: {{ cu.username }}</h6>
            <h6>Email: {{ cu.email }}</h6>
            {% endfor %}
            <br>
        
            <h6>Profile Statistics:</h6>
        
            <h6>Total amount of question upvotes: {{ upVQC }}</h6>
            <h6>Total amount of question downvotes: {{ downVQC }}</h6>
        
            <h6>Total amount of answer upvotes: {{ upVAC }}</h6>
            <h6>Total amount of answer downvotes: {{ downVAC }}</h6>
        
            </div>

        </div>

        <!-- second column of html page -->
        <div class="column2">

            <h2> My Questions: </h2>
        
            <div>
                {% for q in questions %}
                <h4>
                    <a class="text" style="margin-left: 10px" href="{{ url_for('viewquestion_page') }}?question={{ q.title }}">{{ q.title }}</a>
                </h4>
                <h6>
                <a class="text" style="margin-left: 40px">Asked on {{ q.questionaskdate}}</a>
                </h6>
                <br>
                {% endfor %}
        
                <h2> My Answers: </h2>
                {%for a in answers %}
                <h4>
                    <a style="margin-left: 10px">{{ a.answer}}</a>
                </h4>
                <h6>
                    <a class="text" style="margin-left: 40px">Answer given on {{ a.answerdate}} and replying to the question: </a>
                </h6>
        
                {%for q in allquestions %}
                {% if q.id == a.question_id %}
                <h6>
                    <a class="text" style="margin-left: 100px" href="{{ url_for('viewquestion_page') }}?question={{ q.title }}">{{ q.title }}</a>
                </h6>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>

        </div>

        <!-- third column of html page -->
        <div class="column3">
            <h2> My Bookmarks: </h2>
            {% for b in bookmarks %}
            <h4>
                <a class="text" style="margin-left: 10px" href="{{ url_for('viewquestion_page') }}?question={{ b.title }}">{{ b.title }}</a>
            </h4>
            <br>
            {% endfor %}
        </div>
    </div>

    <br>

    <style>
        .column1 {
        margin-left: 20px;
        float: left;
        width: 25%;
        }

        .column2 {
            float: left;
            width: 35%;
        }

        .column3 {
            float: left;
            width: 35%;
        }

        .row:after {
        content: "";
        display: table;
        clear: both;
        }

		.nolinebreak{
            white-space: nowrap;
            overflow: hidden;
		}
        .centerstuff{
			text-align: center;
		}
	</style>
	

	<br>



{% endblock %}
</body>
