{% extends "base.html" %}

{% block head %} {{ super() }}<title>{% block title %}Account{% endblock %}</title>{% endblock %}

{% block content %}
<body>
    {% block navbar %} {{ super() }} {% endblock %}

    <main role="main">
	<br>
	<h1> My Account</h1><br>

    <h2> My Questions: </h2>
    <h6>Press the question titles to view them and know if they have been answered</h6>

	<div>
		{% for q in questions %}
		<h4>
			<a class="text" style="margin-left: 10px" href="{{ url_for('viewquestion_page') }}?question={{ q.title }}">{{ q.title }}</a>
        </h4>
        <h6>
        <a class="text" style="margin-left: 40px">Asked on {{ q.questionaskdate}}</a>
        </h6>
        <br>
		{% endfor %}

        <h2> My Answers: </h2>
        <h6>Press the question link to view how many upvotes your answer received</h6>
        {%for a in answers %}
        <h4>
			<a style="margin-left: 10px">{{ a.answer}}</a>
        </h4>
    </div>
    <div>
        <h6>
            <a class="text" style="margin-left: 40px">Answer given on {{ a.answerdate}} and replying to the question: </a>
        </h6>

        {%for q in allquestions %}
        {% if q.id == a.question_id %}
        <h6>
			<a class="text" style="margin-left: 100px" href="{{ url_for('viewquestion_page') }}?question={{ q.title }}">{{ q.title }}</a>
        </h6>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
    <style>
		.nolinebreak{
            white-space: nowrap;
            overflow: hidden;
		}
	</style>
	

	<br>



{% endblock %}
</body>
