{% extends "base.html" %}

{% block head %} {{ super() }}<title>{% block title %}Homepage{% endblock %}</title>{% endblock %}

{% block content %}
<body>
    {% block navbar %} {{ super() }} {% endblock %}


    <main role="main">
      <br>
<h1>
  Question Forum
</h1>
<br>


{% for q in allquestions %}
<h3>Question {{loop.index}}</h3>

<h3 style="border: solid 1px black;display: block;padding:5px ;padding-bottom:20px;background-color:aliceblue;">{{q}}</h3>

<div class="container">
  <form method="POST" class="form-answer">
    {{ form.hidden_tag() }}
    <br>
    <h2></h2><br>
    <dl>
      <dt> {{ form.answer.label() }}
      <dd> {{ form.answer(cols="90", rows="15", placeholder="Enter your answer here") }}  

    </dl>
    <br>

    {{ form.submitanswer(class="btn btn-lg btn-block btn-primary") }}

    <br>
  
    
  </form>
</div>

<!-- <a name="" id="question_id" class="btn btn-primary" role="button" onclick="setquestionnumber(this,'red')" href="{{ url_for('viewquestion_page') }}">View and Answer Question</a>
<script>
  function setquestionnumber(elmnt,clr) {

    elmnt.style.color = clr;
  }
  </script> -->
{% endfor %}

<h3>Every Answer</h3>
<br>
{% for a in allanswers %}

<h4>{{a}}</h4>
<br>
{% endfor %}
<p onclick="myFunction(this, 'red')">Click me to change my text color.</p>

<script>
function myFunction(elmnt,clr) {
  elmnt.style.color = clr;
}
</script>
{% endblock %}
</body>
