{% extends "base.html" %}

{% block head %} {{ super() }}<title>{% block title %}Login{% endblock %}</title>{% endblock %}

{% block content %}
<body>
    {% block navbar %} {{ super() }} {% endblock %}

    <main role="main">
	<br>
	<h1>Question Forum</h1><br>

	<div>
		{% for q in questions %}
		<h4>
			<a class="text" style="margin-left: 10px" href="{{ url_for('viewquestion_page') }}?question={{ q.title }}">{{ q.title }}</a>
    </h4>
    <h6>
    	<p class="text" style="margin-left: 40px">Asked by {{q.username}} on {{ q.questionaskdate}}<br>Viewed {{q.viewCount}} times</p>
    </h6>
      <br>
		
		{% endfor %}
	</div>

	<br>

{% endblock %}
</body>