{% extends 'base.html' %}

{% block content %}
{%for Userg in answers %}
<h1></h1>
<h3 style="border: solid 1px black;display: block;padding:5px ;padding-bottom:20px;background-color:aliceblue;">{{Userg}}</h3>
{%endfor%}
<h1>Question</h1>
<div>
<form action="#" method="post">
  <label for="w3review"></label>
  <textarea name="nm" rows="4" cols="50" placeholder="Ask your quesiton here">
   
    </textarea>
    <br><br>
    <input type="submit" value="Submit">
</form>
</div>







{% endblock %}


{% block foot %}

{% endblock %}
